$primaryColor:#DA5C5C;
$darkColor:#263238;
$grayColor:#C2C2C2;
$grayLightColor:#F5F5F5;
$grayDarkColor:#9E9E9E;
$greenColor:#008E5B;
$container:1200px;

$mq-mobile:" screen and (min-width:0)";
$mq-tablet:" screen and (min-width:768px)";
$mq-desktop:" screen and (min-width:992px)";